*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '微软雅黑';
}

/*#27B1CE*/
/*#E5D47A*/
/*#F36E21*/
#menu{
    width: 100px;
    margin: 30px auto;
    background: #27B1CE;
    padding: 5px;
}

#menu a{
    position: relative;
    margin: 10px 10px;
    display: block;
    background: #27B1CE;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 1em;
    line-height: 1em;
    border: 1px solid #27B1CE;
}
#menu a:hover{
    border: 1px solid #F36E21;
    color: #F36E21;
}

#menu a:hover .left{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 0;
    width: 0;
    border: 0.5em solid #27B1CE;
    border-left-color:#F36E21;
}

#menu a:hover .right{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 0;
    width: 0;
    border: 0.5em solid #27B1CE;
    border-right-color:#F36E21;
}

#menu a .title{
    position: absolute;
    display: block;
    float: left;
    height: 10px;
    width: 10px;
    right: -100%;
    background: red;
}